.caption {
    margin: 3px 0 0 0;
    padding: 0;
}

.figure {
    border: 1px solid #ccc;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.03);
    display: inline-block;
    font-size: 80%;
    line-height: 1.35;
    padding: 3px;
}

.figure img {
    border: 1px solid #ccc;
}

.figure.left {
    clear: both;
    float: left;
    margin: 0.25em 1.4em 1.3em 0;
}
.figure.right {
    clear: both;
    float: right;
    margin: 0.25em 0 1.3em 1.4em;
}

@media (max-width: 480px) {
    .figure, .figure.left, .figure.right {
        border: none;
        color: #666666;
        display: block;
        float: none;
        margin: 0 auto 1.3em auto;
        padding: 0;
    }

    .figure img {
        border: none;
    }
}
