.hidden .toggle {
    background-color: gray;
}
.hidden .header {
    background: #ccccff;
    text-align: center;
}
.hidden .toggle {
    background: none;
    float: right;
    font-size: 90%;
    font-weight: normal;
}
html {
    font-size: initial !important;
}
body, blockquote {
    color: #000 !important;
}
body {
    font-family: "Iowan Old Style", Iowan, "Iowan Web", Georgia, Charter,
    "Hoefler Text", Cambria, Constantia, Utopia, Marion, Cochin,
    "Palatino Linotype", Palatino, Baskerville, serif !important;
    font-size: 110% !important;
    margin-top: 5%;
    margin-bottom: 5%;
}
code {
    background-color: #f5f5f5;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #000;
    font-family: Consolas, "Consolas Web", "Liberation Mono", Courier, monospace !important;
    font-size: 0.8em !important;
}
pre code {
    font-size: 1em !important;
    border: none;
}
h1, h2, h3, h4, h5, h6, strong, b, .minibutton {
    font-family: Optima, "Optima Web", Candara, Futura, "Gill Sans",
    Calibri, Corbel, "Avenir Next", Avenir,
    Helvetica, Arial, sans-serif !important;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 15px;
}
h1 {
    border-bottom: 1px solid #eee;
    font-size: 2.5em;
    padding-bottom: 0.5em;
}
h2 {
    border-bottom: 1px solid #eee;
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.2em;
}
ol ol, ol ul, ul ul, ul ol {
    margin: 0 !important;
}
li p {
    margin: 1em 0 1em 0 !important;
}
ul {
    list-style-type: none;
}
ul > li:before {
    content: "\2013";
    margin-left: -1.1em;
    position: absolute;
}
a:hover, a:focus {
    color: #23527c;
}
.fa-link:before {
    content: "\e144" !important;
    font-family: 'Glyphicons Halflings';
}
#pages li a.file, #pages li a.folder {
    background: none;
}
a.file:before, a.folder:before {
    color: #ffead6;
    content: "\e022";
    font-family: 'Glyphicons Halflings';
    font-size: 0.9em;
    padding-right: 0.1em;
}
.logo {
    color: #666;
    display: block;
    float: right;
    font-size: 5em;
    padding-right: 0.1em;
    z-index: 100;
}
blockquote {
    padding: 0px 20px;
}
hr {
    border-color: #ccc;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: inherit;
}
.figure {
    border: 1px solid #ccc;
	/* border-radius: 3px; */
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.03);
    display: inline-block;
    font-size: 80%;
    line-height: 1.35;
    padding: 3px;
}
.figure img {
    border: 1px solid #ccc;
}
.caption {
    margin: 3px 0 0 0;
    padding: 0;
}
.figure.left {
    clear: both;
    float: left;
    margin: 0.25em 1.4em 1.3em 0;
}
.figure.right {
    clear: both;
    float: right;
    margin: 0.25em 0 1.3em 1.4em;
}

@media (max-width: 480px) {
    .figure, .figure.left, .figure.right {
        border: none;
        color: #666666;
        display: block;
        float: none;
        margin: 0 auto 1.3em auto;
        padding: 0;
    }
    .figure img {
        border: none;
    }
}

table {
    display: block;
    overflow: auto;
    width: 100%;
    word-break: keep-all;
}
table th {
    font-weight: bold;
}
table th, table td {
    border: 1px solid #ddd;
    padding: 6px 13px;
}
table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}
table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
iframe {
    display: none;
}
.container .header-anchor {
    display: inline-block;
    font-weight: normal;
    margin-left: -1em;
    padding-right: 0.1em;
}
.collapse-button {
	cursor: pointer;
	float: right;
	margin-top: 0.3em;
	font-size: 0.8em;
}
.container .header-anchor, .collapse-button {
    color: #ffffff;
}
h1:hover .header-anchor, h2:hover .header-anchor, h3:hover .header-anchor, h4:hover .header-anchor, h5:hover .header-anchor, h6:hover .header-anchor,
h1:hover .collapse-button, h2:hover .collapse-button, h3:hover .collapse-button, h4:hover .collapse-button, h5:hover .collapse-button, h6:hover .collapse-button {
    color: #cccccc;
    text-decoration: none;
}
.header-anchor:hover, .collapse-button:hover {
    color: #999999 !important;
}
