body {
    font-size: 110% !important;
    margin-bottom: 5%;
    margin-top: 5%;
}

body > .container {
    max-width: 740px;
    padding: 0px 20px 0 20px;
}

html {
    font-size: initial !important;
}
